
.btn{
    padding:8px 20px;
    border-radius: 2px;
    outline: none;
    border:none;
    cursor: pointer;

}
.btn-primary{
    background-color: #fff;
    color: #242424;
    padding: 8px 20px;
    border:1px solid #fff;
    margin-right:0.5rem;
    /* margin-left:0.5rem */
}
.btn-outline{
    background-color:transparent;
    color: rgb(87, 87, 78);
    padding: 8px 20px;
    border:2px solid rgb(104, 68, 104);
    transition:all .25s ease-out;
    margin-right:0.5rem;
    margin-left:0.5rem;
    font-weight: bold;
}
.btn-medium{
    padding: 8px 20px;
    font-size: 20px;
}
.btn-large{
    padding: 12px 26px;
    font-size: 26px;
}

.btn-medium:hover,
.btn-large:hover{
    background:#fff;
    color:#242424;
    transition:all .25s ease-out;
}